
<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="main_nav" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <%= link_to "Toy Bin", root_path, class: "brand-logo" %>
            </div>
        </div>
    </nav>
</div>