<!--Hero-->
<div id="index-banner">
    <div class="container">
				<div class="center" id="img1"><%= image_tag "girls_smiling.png" %> 
                </div>        
                <h1 class="text_h center header cd-headline letters type">
            <span><b>Give a Toy. Give Some Joy.</span></b></h1>
    </div>
</div>
<!-- Intro to Toy Bin -->
<div id="intro">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h4 class="center">Toy Bin makes it easy to donate children toys or search for them.</h4>
	      	</div>
	     </div>
	 </div>
</div>
<h3 class="center">Get Started!</h3>
<!-- Description of users -->
<div id="user_description">
    <div class="container">
        <div class="row">
			<div id="users">
				<div class="col s4">
					<h3 class= "center" id ="users"><b>1</h3></b>
		      		<h5 class= "center" id ="users"><a href="/signup">Sign Up!</h5></a>
		      		<img class="directions" src="#">
		      	</div>
		      	<div class="col s4">
		      		<h3 class= "center" id ="users"><b>2</h3></b>
		      		<h5 class="center" id="users">Create Profile</h5>
		      		<img class="directions" src="#">
		      	</div>
		      	<div class="col s4">
		      		<h3 class= "center" id ="users"><b>3</h3></b>
		      		<h5 class="center" id="users">Donate or Search</h5>
		      		<img class="directions" src="#">
		      	</div>		      	
	      	</div>
	     </div>
	 </div>
</div>
		      
<!-- Featured Toys -->
<div id="featured_toys">
    <div class="container">
        <h3 class="center">Featured Toys</h3>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <img class="teddy_bear" src="#">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Teddy Bear</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="baby_rattle" src="#">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Baby Rattle</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="barbie_doll" src="#">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Barbie Doll</span>
                    </div>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>
<!--Team-->
<div id="team">
    <div class="container">
        <h3 class="center">The Team</h3>
        <div class="row">
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="andre" src="#">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Andre Massey<br/>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="cynthia" src="#">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Cynthia Salinas<br/>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="micheal" src="3">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Michael Rockway<br/>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="zohar" src="4">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Zohar Muzafi<br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h4 class="center"><a href="/signup" id="footer">Sign Up</a> to check what's new!</h4>
            </div>
         </div>
     </div>
</div>
