<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Toy Bin</title>
    <!-- CSS  -->
    <link href="welcome.scss" type="text/css" rel="stylesheet">
</head>
<body id="top" class="scrollspy">

<p>HI</p>
</body>
</html>