/*
 * This is a manifest file that'll be copiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require materialize
 *= require_self
 *= require font-awesome
 */


body {
	font-family: 'Lora', serif;
}
.nav-bar {
	background-color: rgba(13, 74, 121, 0.7);
}
.nav-image {
	height: 77%;
	margin-left: 0.5%;
	margin-top: 0.5%;
}	
.btn {
	background-color: #2B98ED;
}
.btn:hover {
	background-color: #2DA0FA;	
}
.btn:focus {
	background-color: #2DA0FA;	
}
.btn:visited {
	background-color: #2DA0FA;	
}

body > div.row > div > ul.slides > li.active > div > button > a {
	color: #FFFFFF;
}
 #chat{
 	background-color: gray;
 	margin-bottom: 10px;
 }
 .pagination a.active {
  color: #fff;
}
 .pagination a {
  color: #757575;
  text-decoration: none;
}

textarea{
	height: 6rem;
}

a {
	color: #2B98ED;

}
.modalLogIn{
	width: 33% !important;
	height: 65% !important;
	max-height: 80%;
}
.modalSignUp{
	width: 33% !important;
	height: 100% !important;
	max-height: 85%;
}
.modalMessage{
	width: 33% !important;
	height: 50% !important;
}
#model3Content, #model2content{
	padding-top: 10%;
}
.fa{
  font-size: 120% !important;
}
.btn-f {
  background-color: #3B5998 !important;
  color: white !important;
}
.linkToSignUp{
	color: #2bbbad;
}

.blank-card {
	background-color: #FFFFFF !important;
	border-radius: 40px !important;
}

.alert-danger{
	position: absolute;
	background-color: rgba(234, 15, 46, 0.6);
	padding-left: 2%;
	width: 100%;
}
.alert-success{
	position: absolute;
	background-color: rgba(150, 216, 153, 0.8);
	width: 100%;
	padding-left: 2%;
}
body{
	background-color: rgba(206, 224, 239, 0.8);
}
.whiteBackground{
	background-color: white;
}
