/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require materialize
 *= require_self
 */

.nav-bar {
	background-color: #F5B45C;
}
.nav-image {
	height: 60px;
	margin-left: 10px;
}	
.btn {
	background-color: #2B98ED;
}
.btn:hover {
	background-color: #2DA0FA;	
}
.btn:focus {
	background-color: #2DA0FA;	
}
.btn:visited {
	background-color: #2DA0FA;	
}

body > div.row > div > ul.slides > li.active > div > button > a {
	color: #FFFFFF;
}
 #chat{
 	background-color: gray;
 	margin-bottom: 10px;
 }
 .pagination a.active {
  color: #fff;
}
 .pagination a {
  color: #757575;
  text-decoration: none;
}

textarea{
	height: 10rem;

a {
	color: #FFFFFF;

}