/*// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
.reply{
	height: 5rem;
	border-radius: 30px;
	padding: 3% 5% 3% 5%;
}
.message>a, .messageCard>a{
	color: #039BE5;
}
.message, .messageCard{
	border-radius: 40px;
	background-color: white;
}
.messageCard{
	padding-top: 3% !important;

}
.allMessages{
	display: none;
	padding: 0 5% 0 5%;
}

.inbox-container{
	padding-bottom: 10%;
}
.inboxHeader{
	padding-bottom: 2%;
}
.inboxTitle{
	color: black;

}
.chatHeader{
	border-top: 1px solid gray;
	padding-top: 3%; 
}
.chatSubject{
	font-size: 1.3em;
}
.messageText{
	overflow: hidden;
}

