/*// Place all the styles related to the toys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.toys-button {
	margin-bottom: 10px;
	width: 100%;
}

textarea{
	height: 100rem;
}

.modalMessage{
	width: 40% !important;
	height: 55% !important;
}

#card-image {
	height: 200px;
}

#blank-card {
	border-radius: 40px;
	min-height: 300px;
}

.select-dropdown {
	color: #2B98ED;
}

.select-wrapper > ul > li > span {
	color: #2B98ED;
}