body {
	font-family: 'Patrick Hand', cursive;
}

#main_nav {
	background-color: #2EB6D1;
}


#index-banner {
   width: 100%;
   height: 350px;
   padding-top: 20px;
}

#intro {
	background-color: #2EB6D1;
}
 h4 {
 	color: white;
 }

 #users {
 	color: black;

 }
 #picture-banner {
    max-height: 100px;
	
}

#footer {
	color: black;
}