.homepage-image {
	background-image: url("stuffed-animal-crop.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding: 10% 0 20% 0;
	margin-bottom: 0 !important;
}
#homepage-button {
	padding-left: 7%;
	padding-bottom: 0;
}

a {
	color: #2B98ED;
}

body > div.row > div > ul.slides {
	background-color: #FFFFFF;
}

body > div.row > div > ul.indicators > li.indicator-item.active {
	background-color: #D9494E
}
body > div.row > div > ul.indicators > li.indicator-item {
	background-color: #FFFFFF;
}
body > div.row > div > ul.indicators {
	z-index: 2;
}
#toyimage {
	height: 500px;
}
.slide-image {
	max-width: 100%;
	max-height: 100%;
}
#toy-header {
	padding-left: 55px;
}

#toy-headline {
	color: #FFFFFF;
	font-size: 70px;
	text-shadow: 2px 2px 2px #141414;
}

#toy-subheadline {
	color: #FFFFFF;
	font-size: 30px;
	text-shadow: 2px 2px 2px #141414;
}
.recent-toy-title {
	color: #000000;
}
.added-toys {
	padding-top: 20px;
}

.blank-card {
	border-radius: 40px;
	min-height: 350px;
	margin: 0 10px;
}
.card-image {
	height: 350px;
}
.toy-image {
	border-radius: 40px 40px 0 0;
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	max-width: 100%;
}
.team-image {
	border-radius: 40px 40px 0 0;
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	max-width: 100%;
}
#lego-row {
	background-image: url("https://www.timbergyms.com/PDGImages/webbackground.png ");
	height: 500px;
	color: #FFFFFF;
}

.how-it-works {
	margin-top: 50px;
	text-shadow: 2px 2px 2px #141414;
}
.team-link {
	padding-bottom: 60px;
}
#team-modal {
	max-height: 100%;
}
.div-header {
	font-size: 50px;
}