// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
background-color: #FFFF8D;
}

.homepage-image {
	width: 40%;
}

.welcome-card {
	background-position: center;
	background-repeat: no-repeat; 
	background-size: contain;
	border-radius: 5px;
	/*height: 200px;*/

	a {
		color: #2B98ED;
	}
}

.card {
	border-radius: 40px;
	img {
		border-radius: 40px 40px 0 0;
	}
}

.recent-toys {
	
}