
body {
background-color: #FFFFFD;
}

.homepage-image {
	width: 40%;
}

.welcome-card {
	background-position: center;
	background-repeat: no-repeat; 
	background-size: contain;
	border-radius: 5px;

	a {
		color: #2B98ED;
	}
}

.toy-image {
  max-height: 300px;
  max-width: 100%;
}