.homepage-image {
	background-image: url("https://s3-us-west-2.amazonaws.com/toybinwdi24/stuffed-animal-crop.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	padding: 10% 0 20% 0;
	margin-bottom: 0 !important;
}
#homepage-button {
	padding-left: 7%;
	padding-bottom: 0;
}

a {
	color: #2B98ED;
}

body > div.row > div > ul.slides {
	background-color: #FFFFFF;
}

body > div.row > div > ul.indicators > li.indicator-item.active {
	background-color: #D9494E
}
body > div.row > div > ul.indicators > li.indicator-item {
	background-color: #FFFFFF;
}
body > div.row > div > ul.indicators {
	z-index: 2;
}
.row .col.s12{
	padding-bottom: 10px;
}
#toyimage {
	height: 500px;
}
.slide-image {
	max-width: 100%;
	max-height: 100%;
}
#toy-header {
	padding-left: 55px;
}

#toy-headline {
	color: #FFFFFF;
	font-size: 80px;
	text-shadow: 2px 2px 2px #141414;
	font-family: 'Love Ya Like A Sister', cursive;
	text-align: center;
}

#toy-subheadline {
	color: #FFFFFF;
	font-size: 30px;
	text-shadow: 2px 2px 2px #141414;
	font-family: 'Love Ya Like A Sister', cursive;
	text-align: center;
}
.recent-toy-title {
	color: #000000;
}
.added-toys {
	padding-top: 20px;
}

.blank-card {
	border-radius: 40px;
	min-height: 200px;
	margin: 0 10px;
}
.card-image {
	height: 350px;
}
.toys-images {
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	max-width: 100%;
}
.team-image {
	border-radius: 40px 40px 0 0;
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	max-width: 100%;
}
#lego-row {
	background: #2B98ED;
	padding-bottom: 5%;
	color: #FFFFFF;
}

.how-it-works {
	margin-top: 50px;
	
}
.team-link {
	padding-bottom: 60px;
}
#team-modal {
	max-height: 100%;
}
.div-header {
	font-size: 40px;
}

.recentNameCard{
	border-top: 1px solid black;
	padding-bottom: 1%;
}

#footer{
	position: absolute;
  margin-bottom: 0%;	
  background-color: rgba(13, 74, 121, 0.3); 
  width: 100%;
  margin-top: 5%;
  padding: 3% 0% 0% 0%;
}
.howImg{
	width: 20%;
}
.howDetails{
	font-size: 18px;
	font-weight: 200;
}
.social{
	width: 30%;
	display: inline-block;
}

h4 {
	font-family: 'Love Ya Like A Sister', cursive;
